/* Login or Register page */
.formBox {
    width: 450px;
    height: auto;
    background: rgba(255, 255, 255);
    margin: 50px auto;
    border-radius: 25px;
}

a:link {
    color: initial;
    text-decoration: none;
}

/* show reg and sho login start */
.regShow {
    left: 90px;
    visibility: visible;
}

.regHide {
    left: -650px;
    visibility: hidden;
}

.loginShow {
    left: -300px;
    visibility: visible;
}

.loginHide {
    left: 300px;
    visibility: hidden;
}

/* show reg and sho login end */

.btnBox {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 220px;
    margin: auto;
    box-shadow: var(--primary-shadow);
    background: #fff;
    border-radius: 30px;
}

.lr-btn {
    position: relative;
    border: none;
    outline: none;
    color: black;
    padding: 15px 30px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
}

div .btnColor {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(to left, var(--secondary-color), var(--primary-color));
    transition: 0.5s;
}

p.with {
    position: relative;
    margin: 65px 40% -7% 20%;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.socials i {
    margin: 30px 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    width: 47px;
    height: 45px;
    border-radius: 12px;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    cursor: pointer;
    color: white;
}

div.LorR {
    display: flex;
    overflow: hidden !important;
}

form#loginBox {
    position: relative;
    padding: 10px;
    margin-left: 60px;
    bottom: -10px;
    /* display: grid;
    justify-content: center; */
    transition: 0.5s;
}

form#loginBox #logsub {
    position: relative;
    bottom: 45px;
}

form#registerBox {
    position: relative;
    /* left: 150px; */
    display: grid;
    justify-content: center;
    grid-gap: 1.7em;
    transition: 0.5s;
}

form#loginBox input:not(.lr-submit),
form#registerBox input:not(.lr-submit),
select {
    width: 300px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background: inherit;
    border-bottom: 1px solid grey;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.6),
        inset 2px 2px 3px rgba(255, 255, 255, 0.1);
}

select {
    font-size: 14px;
}

form#loginBox input:not(.lr-submit) {
    margin-bottom: 40px;
}


form#loginBox input:hover,
form#registerBox input:hover,
form#loginBox input:focus,
form#registerBox input:focus,
select:hover,
select:focus {
    outline: none;
    cursor: pointer;
}

form input::placeholder {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.4);
}

input.lr-submit {
    width: 300px;
    height: 35px;
    font-size: 20px;
    position: relative;
    outline: none !important;
    border: none !important;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-radius: 10px;
    cursor: pointer;
}

.lorCaption {
    width: 500px;
    color: var(--primary-color);
    color: #000;
    line-height: 28px;
    font-size: 1.2em;
    font-weight: 400;
    margin: 10px auto;
}

@media (max-width:700px) {
    .lorCaption {
        max-width: 300px;
    }

    .btnBox,
    .socials {
        position: relative;
        left: -25px;
    }

    .regShow {
        left: 40px;
    }

    .loginShow {
        left: -330px;
    }
}

@media (max-width:300px) {

    .btnBox,
    .socials {
        left: -75px;
    }

    p.with {
        margin-right: 50%;
    }

    form#loginBox input:not(.lr-submit),
    form#registerBox input:not(.lr-submit),
    select,
    input.lr-submit {
        width: 200px;
    }

    .loginShow {
        left: -225px;
    }
}

/* Login or Register page end */